@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --font-title: "Oswald", sans-serif;
    --font-semi: "Bebas Neue", sans-serif;
}

body {
    font-family: var(--font-semi);
}

#customAlert {
    display: none;
    width: 200px;
    height: auto;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
}


.content {
    position: relative;
    z-index: 3;
}

button {
    padding: 1rem;
}

#no {
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 40vh;
    transition: all 0.1s ease-out;
}

#yes {
    position: absolute;
    display: inline-block;
    left: 70%;
    top: 40vh;
    transition: all 0.3s ease-out;
}

#bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    /* height: 100vh; */
    z-index: 0;
    background-repeat: no-repeat;
    background: #0e0e0e;
    background-size: cover;
    background-position: 50%;
    transition: blur(4px);
}

.swal2-image {
    object-fit: contain;
}

.swal2-title,
.swal2-content {
    color: azure !important;
}

.swal2-popup {
    border-radius: 15px !important;
}


header h2 {
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffffef;
}

header h4 {
    font-family: var(--font-semi);
    text-align: center;
    color: #ffffffef;
}

@media only screen and (max-width: 500px) {
    header h2 {
        font-family: 'sans-serif';
        font-size: 45px;
        text-align: center;
        margin-bottom: 30px;
    }

    header h4 {
        font-family: var(--font-semi);
        text-align: center;
        padding: 15px;
    }

    #no {
        position: absolute;
        display: inline-block;
        left: 7%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        transition: all 0.1s ease-out;
    }

    #yes {
        position: absolute;
        display: inline-block;
        left: 58%;
        top: 40vh;
        font-size: 14px;
        padding: 3px;
        transition: all 0.3s ease-out;
    }
}

.swal2-backdrop-show {
    background-size: 200px 100px !important;
}

#nameInputContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(43, 41, 41);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 9999;
}

#nameInputContainer h2 {
    margin-bottom: 15px;
}

#nameInputContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#nameInputContainer button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#nameInputContainer button:hover {
    background-color: #0056b3;
}
